.btn.btn-se {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
    border-radius: 0;
    padding: .575rem 2rem;
    font-size: 0.80rem;
    font-weight: 300;
    &:hover {
        color: #ffffff;
        text-decoration: none;
        background-color: #091d3d;
        border-color: #ffffff;
    }
}

.btn.btn-se-light {
    color: $primary;
    background-color: #F3F4F5;
    border-color: #DFDFEC;
    border-radius: 0;
    padding: .575rem 1.5rem;
    font-size: 0.875rem;
    font-weight: 300;
    &:hover {
        color: $primary;
        text-decoration: none;
        background-color: #DFDFEC;
        border-color: #DFDFEC;
    }
}

.btn.btn-se-outline {
    color: $primary;
    background-color: $white;
    border-color: #ededed;
    border-radius: 0;
    padding: .5rem 2rem;
    font-size: 0.875rem;
    font-weight: 300;
    &:hover {
        color: $white;
        text-decoration: none;
        background-color: $primary;
        border-color: $primary;
    }
}

.btn.btn-se-dd-outline {
    color: $primary;
    background-color: $white;
    border: 0;
    padding: .5rem 2rem;
    font-size: 0.875rem;
    font-weight: 300;
    &:hover {
        text-decoration: none;
    }
}