body {
	overflow-x: hidden!important;
	background: #F9FAFF;
}

/********Global Css*********/
.font-weight-600 {
	// font-weight: 600!important;
	font-weight: 400!important;
}

.font-serif {
	font-family: sans-serif!important;
}

/****** a href Hover *****/
.blog-listing-section {
	video {
		object-fit: cover;
	}
	.card-group-item {
		a {
			&:hover{
				color: inherit!important;
				text-decoration: none!important;
			}
		}
	}
}

.news-events-section {
	video {
		object-fit: cover;
	}
	.card-group-item {
		a {
			&:hover{
				color: inherit!important;
				text-decoration: none!important;
			}
		}
	}
}

/*****Footer BG****/
footer {
	// padding: 40px 0 100px;
	padding: 40px 0 40px;
	@include media-breakpoint-down(sm) {
		padding: 40px 0 40px;
	}
	@include media-breakpoint-up(md) {
		.footer-right-border {
			border-right: 1px solid #708dbd;
		}
		.footer-top-border {
			border-top: 1px solid #708dbd;
		}
	}
	.footer-inside-menu {
		li {
			> a{
				font-family: 'Gotham-Book';
				// @include media-breakpoint-up (lg) {
				// }
				// @include media-breakpoint-down (sm) {
				// }
			}
		}
	}
}


/****** Banner Section ******/
.banner-section {
	//background: #193667;
	// background-image: url(../images/png/home-banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 80px 0 0 0;
	width: 100%;
	background-position: top;
	// float: left;
	&.home-banner-section {
		//background-image: url(../images/png/home-banner.webp)!important;
		padding: 85px 0 0;
		.details-main-logo {
			position: absolute;
			top: -40px;
		}
	}
	.banner-text {
		&::after {
			content: '';
			position: absolute;
			display: block;
			border-bottom: 4px solid #3eb049;
			width: 65px;
			margin-top: 1rem;
			@include media-breakpoint-down(sm) {
				margin-top: 0.3rem!important;
			}
		}
		&.blog-banner-text {
			&::after {
				border-bottom: 4px solid #e60079;
			}
			&.blogs-text {
				color: #4d4d4d;
				&::after {
					border-bottom: none;
				}
				.blogs-banner-title {
					color: #e60079;
				}
			}
		}
		&.articles-banner-text {
			&::after {
				border-bottom: 4px solid #fdb711;
			}
			&.articles-text {
				color: #4d4d4d;
				&::after {
					border-bottom: none;
				}
				.articles-banner-title {
					color: #fdb711;
				}
			}
		}
		&.news-banner-text {
			&::after {
				border-bottom: 4px solid #007ec1;
			}
			&.news-text {
				color: #4d4d4d;
				&::after {
					border-bottom: none;
				}
				.news-banner-title {
					color: #007ec1;
				}
			}
		}
		&.case-studies-banner-text {
			&::after {
				border-bottom: 4px solid #3eb049;
			}
			&.case-studies-text {
				color: #4d4d4d;
				&::after {
					border-bottom: none;
				}
				.case-studies-banner-title {
					color: #3eb049;
				}
			}
		}
		&.research-papers-banner-text {
			&::after {
				border-bottom: 4px solid #ff7ecb;
			}
			&.research-papers-text {
				color: #4d4d4d;
				&::after {
					border-bottom: none;
				}
				.research-papers-banner-title {
					color: #ff7ecb;
				}
			}
		}
		&.ebook-banner-text {
			&::after {
				border-bottom: 4px solid #7f4cdf;
			}
			&.ebook-text {
				color: #4d4d4d;
				&::after {
					border-bottom: none;
				}
				.ebook-banner-title {
					color: #7f4cdf;
				}
			}
		}
	}
	@include media-breakpoint-down(md) {
		.banner-img {
			width: 300px;
		}
	}
	@include media-breakpoint-up (xl) {
		&.clients-banner {
			height: 535px!important;
		}
	}
}


/********* HOME Style *********/
  
.home-banner-sec {
	@include media-breakpoint-up(sm){
		margin-top: 130px;
	}
}

.home-banner-wrapper {
	display: flex;
}
  
.home-banner-item {
	&.inner {
	  display: flex;
	}
}
  
.home-bar-img {
	width: 40%;
}
  
.home-banner-item-sub {
	&.reverse-arrow {
	  display: flex;
	  align-items: center;
	}
}
  
.home-banner-sec-2 {
	.home-banner-item {
		&.reverse-2 {
			@media only screen and (max-width: 768px) {
			display: flex;
			justify-content: center;
			align-items: center;
			}
		}
	}
}

.home-border {
	&.border-img {
		@include media-breakpoint-only(sm) {
			width: 500px!important;
		}
	}
}

/**************** Articles Section Css ****************/

.home-articles-section {
	background: #007ec1;
	.sub-cat-section {
		font-size: 10px;
		letter-spacing: 1px;
	}
	.article-section {
		@include media-breakpoint-down(xs) {
			margin-bottom: 20px;
		}
		.article-details {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(25, 53, 103, 0.85);
			@include media-breakpoint-down(xs) {
				display: block!important;
				background: rgba(25, 53, 103, 0.5);
			}
			> .article-details-div {
				position: absolute;
				bottom: 0;
				padding: 20px;
				.article-title {
					min-height: 20px;
					max-height: 20px;
					overflow: hidden;
				}
				.article-para {
					min-height: 75px;
					max-height: 75px;
					overflow: hidden;
				}
			}
		}
		&:hover {
			.article-details {
				display: block!important;
			}
		}
	}
}


/**************** Research Papers Section Css ****************/

.home-research-papers-section {
	background: #eef0f8;
	.sub-cat-section {
		font-size: 10px;
		letter-spacing: 1px;
	}
	.research-papers-section {
		@include media-breakpoint-down(xs) {
			margin-bottom: 20px;
		}
		.research-papers-details {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(140, 10, 78, 0.85);
			@include media-breakpoint-down(xs) {
				display: block!important;
				background: rgba(140, 10, 78, 0.5);
			}
			> .research-papers-details-div {
				position: absolute;
				bottom: 0;
				padding: 20px;
				.research-papers-title {
					min-height: 20px;
					max-height: 20px;
					overflow: hidden;
				}
				.research-papers-para {
					min-height: 75px;
					max-height: 75px;
					overflow: hidden;
				}
			}
		}
		&:hover {
			.research-papers-details {
				display: block!important;
			}
		}
	}
}


/**************** Site Preloader *****************/

.site-preloader {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
	background: #fff;
	.animation-preloader {
		position: absolute;
		z-index: 100;
		.spinner {
			animation: spinner 1s infinite linear;
			border-radius: 50%;
			border: 5px solid rgba(9, 29, 61, .15);
			border-top-color: #091d3d;
			height: 150px;
			margin: 0 auto 45px auto;
			width: 150px;
		}
		.txt-loading {
			text-align: center;
			user-select: none;
			.letters-loading{
				font-family: Lato, sans-serif;
				font-weight: 700;
				letter-spacing: 2px;
				display: inline-block;
				color: rgba(9, 29, 61, .15);
				position: relative;
				font-size: 25px;
				line-height: 0;
				&:before {
					animation: letters-loading 4s infinite;
					color: #091d3d;
					content: attr(data-text-preloader);
					left: 0;
					opacity: 0;
					top: 0;
					line-height: 0;
					position: absolute;
				}
				&:nth-child(2):before {
					animation-delay: .2s
				}
				&:nth-child(3):before {
					animation-delay: .4s
				}
				&:nth-child(4):before {
					animation-delay: .6s
				}
				&:nth-child(5):before {
					animation-delay: .8s
				}
				&:nth-child(6):before {
					animation-delay: 1s
				}
				&:nth-child(7):before {
					animation-delay: 1.2s
				}
				&:nth-child(8):before {
					animation-delay: 1.4s
				}
				&:nth-child(9):before {
					animation-delay: 1.6s
				}
				&:nth-child(10):before {
					animation-delay: 1.8s
				}
				&:nth-child(11):before {
					animation-delay: 2.0s
				}
			}
		}
	}
}

@keyframes spinner {
    to {
        transform: rotateZ(360deg)
    }
}

@keyframes letters-loading {
    0%,
    100%,
    75% {
        opacity: 0;
        transform: rotateY(-90deg)
    }
    25%,
    50% {
        opacity: 1;
        transform: rotateY(0)
    }
}

@media screen and (max-width:767px) {
    .site-preloader {
		.animation-preloader {
			.spinner {
				height: 8em;
				width: 8em
			}
		} 
	} 
}

@media screen and (max-width:500px) {
    .site-preloader {
		.animation-preloader {
			.spinner {
				height: 7em;
				width: 7em;
				margin: 0 auto 20px;
			}
			.txt-loading {
				.letters-loading {
					font-size: 20px;
					letter-spacing: 0;
				}
			} 
		} 
	} 
}


/**************** Custom Newsletter *****************/

.custom-newsletter {
	box-shadow: 0 10px 16px 6px rgba(9, 29, 61, 0.45);
	.custom-newsletter-input {
		background-color: #193667;
		border: 1px solid #1a3667;
		height: 60px;
		font-size: 14px;
		&::placeholder {
			color: #7d9aca;
			font-style: italic;
		}
		&:focus {
			box-shadow: none;
		}
	}
	.input-group-text {
		background-color: #1a3667;
		border: 1px solid #1a3667;
		.fas {
			color: #fdb711;
		}
	}
}


/**************Connect Video CSS********************/

.videoWrapper {
    position: relative;
    width: 100%;
    height: 0;
	background-color: #000;
	&.videoWrapper-res {
		padding-top: 56%;
	}
	.videoIframe {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: transparent;
	}
	.videoPoster {
		top: 0;
		right: 0;
		left: 0;
		height: 100%;
		outline: none;
		background-position: 50% 50%;
		background-size: 100% 100%;
		background-size: cover;
		opacity: 1;
		-webkit-transition: opacity 800ms, height 0s;
		transition: opacity 800ms, height 0s;
		-webkit-transition-delay: 0s, 0s;
		transition-delay: 0s, 0s;
	}
	&.videoWrapperActive {
		.videoPoster {
			opacity: 0;
			height: 0;
			-webkit-transition-delay: 0s, 800ms;
			transition-delay: 0s, 800ms;
		}
	}
}


/*************** DatePicker ****************/

.datepicker {
	td,th {
		width: 2rem!important;
		@include media-breakpoint-down(sm) {
			height: 2rem!important;
		}
		font-size: 0.85rem;
	}
	&.datepicker-dropdown {
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
		.datepicker-months, .datepicker-years, .datepicker-decades, .datepicker-centuries {
			.table-condensed {
				width: 100%;
			}
		}
	}
}


/*************** Scroll To Top ****************/
.scrollToTop {
	background: $white;
	bottom: 1rem;
	display: none;
    height: 45px;
    padding: 8px;
    position: fixed;
    right: 1rem;
    text-align: center;
    text-decoration: none;
    width: 45px;
    z-index: 99999;
	border-radius: 50%;
	box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.14);
	i {
		color: $primary;
		font-size: 1.5rem;
		vertical-align: middle;
	}
	&:hover {
		text-decoration: none;
	}
}


/********* Custom Select Box Css *********/

.custom-select-box {
	.form-group {
		label {
			color: #7c7c7c;
			margin-bottom: 2px;
		}
		select {
			border-color: #bababa;
			color: #7c7c7c;
			font-style: italic;
			border-radius: 8px;
			&:focus {
				box-shadow: none;
			}
		}
	}
	.input-group {
		.input-group-prepend {
			.input-group-text {
				border-top-left-radius: 8px;
				border-bottom-left-radius: 8px;
				i {
					color: #a1a1a1;
				}
			}
		}
		input {
			&:focus {
				box-shadow: none;
				border-color: #bababa;
			}
			&::placeholder {
				color: #7c7c7c;
				font-style: italic;
			}
		}
		.input-group-append {
			.input-group-text {
				border-top-right-radius: 8px;
				border-bottom-right-radius: 8px;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				i {
					color: #007fc7;
				}
			}
		}
	}
}


/********* Blog Listing Css *********/

.blog-listing-section {
	.sub-cat-section {
		background: rgba(68, 63, 65, 0.48);
		font-size: 10px;
		letter-spacing: 1px;
	}
	.time-section {
		font-size: 0.7rem;
		color: #8996ab;
		letter-spacing: 1px;
	}
	.title-section {
		color: #2b2850;
		line-height: 1.5;
		@include media-breakpoint-up(md) {
			min-height: 70px;
			max-height: 70px;
			overflow: hidden;
		}
	}
	.content-section {
		color: #727272;
		line-height: 1.5;
		@include media-breakpoint-up(md) {
			min-height: 65px;
			max-height: 65px;
			overflow: hidden;
		}
	}
	.blog-content-section {
		color: #4d4d4d;
	}
	.author-details-section {
		line-height: 1.3;
		.author-name-section {
			color: #2b2850;
		}
		.author-company-section {
			color: #727272;
		}
	}
	.tag-section {
		display: inline;
		color: #598cfb;
		font-size: 11px;
		background-color: #edf3ff;
		border: solid 1px #598cfb;
		padding: 7px 12px;
		border-radius: 4px;
		line-height: 1.3;
		&.blue-tag {
			color: #598cfb;
			background-color: #edf3ff;
			border: solid 1px #598cfb;
		}
		&.pink-tag {
			color: #e60079;
			background-color: #ffedf7;
			border: solid 1px #e60079;
		}
		&.green-tag {
			color: #3eb049;
			background-color: rgba(62, 176, 73, 0.12);
			border: solid 1px #3eb049;
		}
	}
	#blogs-listing-slider {
		.slick-list {
			padding: 0 0 20px;
		}
		button {
			&.slick-arrow {
				background: transparent;
				border: 0;
				position: absolute;
				top: 50%;
				>i {
					font-size: 3rem;
					color: #2b2850;
				}
			}
			&.slick-prev {
				left: -30px;
			}
			&.slick-next {
				right: -30px;
			}
			@include media-breakpoint-down(xs) {
				&.slick-arrow {
					>i {
						font-size: 2rem;
					}
				}
				&.slick-prev {
					left: -20px;
				}
				&.slick-next {
					right: -20px;
				}
			}
		}
		.slick-dots {
			bottom: -50px!important;
			z-index: 1;
			padding-left: 0;
		}
	}
}


/********* News Listing Css *********/

.news-listing-section {
	&.news-listing-section-2 {
		.card-group-item {
			a {
				text-decoration: none;
				&.link-section {
					&:hover {
						text-decoration: none;
					}
				}
			}
			.card {
				@include media-breakpoint-up(sm) {
					flex-direction: row;
					.card-img-top {
						width: 200px;
					}
					&.news-details-banner {
						width: 100%!important;
					}
				}
			}
			&.news-main-card-2 {
				border-bottom: 1px solid #d3d3d3;
				@include media-breakpoint-down(md) {
					// border-bottom: none;
				}
				.title-section {
					@include media-breakpoint-up(md) {
						min-height: inherit;
						max-height: inherit;
						overflow: inherit;
					}
				}
				.content-section {
					@include media-breakpoint-up(md) {
						min-height: inherit;
						max-height: inherit;
						overflow: inherit;
					}
				}
				.author-details-section {
					line-height: 1.3;
					.author-name-section {
						color: #2b2850;
					}
					.author-company-section {
						color: #727272;
					}
				}
			}
			// .custom-border-bottom {
			// 	border-bottom: 1px solid #d3d3d3;
			// 	@include media-breakpoint-down(sm) {
			// 		border-bottom: none;
			// 	}
			// }
		}
		.latest-news-section {
			border-left: 1px solid #d3d3d3;
			@include media-breakpoint-down(md) {
				border-left: none;
			}
			.card-group-item {
				.card {
					@include media-breakpoint-down(xs) {
						flex-direction: row;
					}
					.card-img-top {
						width: 100px;
					}
					.title-section {
						font-size: 0.80rem;
						line-height: 1.3;
						@include media-breakpoint-up(md) {
							min-height: inherit;
							max-height: inherit;
							overflow: inherit;
						}
					}
					.content-section {
						@include media-breakpoint-up(md) {
							min-height: inherit;
							max-height: inherit;
							overflow: inherit;
						}
					}
					.author-details-section {
						line-height: 1.3;
						font-size: 0.70rem;
						.author-name-section {
							color: #8f9baf;
						}
						.author-company-section {
							color: #8f9baf;						;
						}
					}
				}
			}
		}
	}
	.card-group-item {
		&.news-main-card {
			.title-section {
				@include media-breakpoint-up(md) {
					min-height: 50px;
					max-height: 50px;
					overflow: hidden;
				}
			}
			.content-section {
				@include media-breakpoint-up(md) {
					min-height: 45px;
					max-height: 45px;
					overflow: hidden;
				}
			}
		}
		a {
			text-decoration: none;
		}
	}
	.sub-cat-section {
		background: rgba(68, 63, 65, 0.48);
		font-size: 10px;
		letter-spacing: 1px;
	}
	.time-section {
		font-size: 0.7rem;
		color: #8996ab;
		letter-spacing: 1px;
	}
	.title-section {
		color: #2b2850;
		line-height: 1.5;
		@include media-breakpoint-up(md) {
			min-height: 70px;
			max-height: 70px;
			overflow: hidden;
		}
	}
	.content-section {
		color: #727272;
		line-height: 1.5;
		@include media-breakpoint-up(md) {
			min-height: 65px;
			max-height: 65px;
			overflow: hidden;
		}
	}
	.news-content-section {
		color: #4d4d4d;
	}
	.author-details-section {
		line-height: 1.3;
		.author-name-section {
			color: #2b2850;
		}
		.author-company-section {
			color: #727272;
		}
	}
	.tag-section {
		display: inline;
		color: #598cfb;
		font-size: 11px;
		background-color: #edf3ff;
		border: solid 1px #598cfb;
		padding: 7px 12px;
		border-radius: 4px;
		line-height: 1.3;
		&.blue-tag {
			color: #598cfb;
			background-color: #edf3ff;
			border: solid 1px #598cfb;
		}
		&.pink-tag {
			color: #e60079;
			background-color: #ffedf7;
			border: solid 1px #e60079;
		}
		&.green-tag {
			color: #3eb049;
			background-color: rgba(62, 176, 73, 0.12);
			border: solid 1px #3eb049;
		}
	}
	.read-more-section {
		color: #e60079;
		&:hover {
			text-decoration: none;
			cursor: pointer;
		}
	}
	#news-listing-slider {
		.slick-list {
			padding: 0 0 20px;
		}
		button {
			&.slick-arrow {
				background: transparent;
				border: 0;
				position: absolute;
				top: 50%;
				>i {
					font-size: 3rem;
					color: #2b2850;
				}
			}
			&.slick-prev {
				left: -30px;
			}
			&.slick-next {
				right: -30px;
			}
			@include media-breakpoint-down(xs) {
				&.slick-arrow {
					>i {
						font-size: 2rem;
					}
				}
				&.slick-prev {
					left: -20px;
				}
				&.slick-next {
					right: -20px;
				}
			}
		}
	}
}


/********* Research Papers Listing Css *********/

.research-paper-listing-section {
	.card-group-item {
		a {
			&.link-section {
				&:hover {
					text-decoration: none;
				}
			}
		}
		.card {
			@include media-breakpoint-up(sm) {
				flex-direction: row;
			}
			.card-img-top {
				width: 126px;
				&.research-papers-details-banner {
					width: 160px!important;
				}
			}
		}
	}
	.sub-cat-section {
		background: rgba(68, 63, 65, 0.48);
		font-size: 10px;
		letter-spacing: 1px;
	}
	.time-section {
		font-size: 0.7rem;
		color: #8996ab;
		letter-spacing: 1px;
	}
	.price-section {
		color: #007ec1;
	}
	.title-section {
		color: #2b2850;
		line-height: 1.5;
	}
	.newspaper-company {
		color: #2b2850;
		font-size: 13px;
	}
	.content-section {
		color: #727272;
		line-height: 1.5;
	}
	.author-details-section {
		line-height: 1.3;
		.author-name-section {
			color: #2b2850;
			font-size: 0.85rem;
		}
		.author-company-section {
			color: #727272;
			font-size: 0.85rem;
		}
	}
	.tag-section {
		display: inline;
		color: #598cfb;
		font-size: 11px;
		background-color: #edf3ff;
		border: solid 1px #598cfb;
		padding: 7px 12px;
		border-radius: 4px;
		line-height: 1.3;
		&.blue-tag {
			color: #598cfb;
			background-color: #edf3ff;
			border: solid 1px #598cfb;
		}
		&.pink-tag {
			color: #e60079;
			background-color: #ffedf7;
			border: solid 1px #e60079;
		}
		&.green-tag {
			color: #3eb049;
			background-color: rgba(62, 176, 73, 0.12);
			border: solid 1px #3eb049;
		}
	}
	.read-more-section {
		color: #e60079;
		&:hover {
			text-decoration: none;
			cursor: pointer;
		}
	}
}


/********* Case Studies Listing Css *********/

.case-studies-listing-section {
	.card-group-item {
		a {
			&.link-section {
				&:hover {
					text-decoration: none;
				}
			}
		}
		.card {
			@include media-breakpoint-up(md) {
				flex-direction: row;
				.card-img-top {
					width: 300px;
				}
			}
			&.case-studies-details-card {
				flex-direction: column;
				.case-studies-details-banner {
					width: 100%!important;
					border-radius: 0;
				}
			}
		}
	}
	.sub-cat-section {
		background: rgba(68, 63, 65, 0.48);
		font-size: 10px;
		letter-spacing: 1px;
	}
	.time-section {
		font-size: 0.7rem;
		color: #8996ab;
		letter-spacing: 1px;
	}
	.price-section {
		color: #007ec1;
	}
	.title-section {
		color: #2b2850;
		line-height: 1.5;
	}
	.content-section {
		color: #727272;
		line-height: 1.5;
	}
	.case-study-content-section {
		color: #4d4d4d;
	}
	.author-details-section {
		line-height: 1.3;
		.author-name-section {
			color: #2b2850;
			font-size: 0.85rem;
		}
		.author-company-section {
			color: #727272;
			font-size: 0.85rem;
		}
	}
	.tag-section {
		display: inline;
		color: #598cfb;
		font-size: 11px;
		background-color: #edf3ff;
		border: solid 1px #598cfb;
		padding: 7px 12px;
		border-radius: 4px;
		line-height: 1.3;
		&.blue-tag {
			color: #598cfb;
			background-color: #edf3ff;
			border: solid 1px #598cfb;
		}
		&.pink-tag {
			color: #e60079;
			background-color: #ffedf7;
			border: solid 1px #e60079;
		}
		&.green-tag {
			color: #3eb049;
			background-color: rgba(62, 176, 73, 0.12);
			border: solid 1px #3eb049;
		}
	}
	.read-more-section {
		color: #e60079;
		&:hover {
			text-decoration: none;
			cursor: pointer;
		}
	}
}


/********* Articles Listing Css *********/

.articles-listing-section {
	.card-group-item {
		a {
			&.link-section {
				&:hover {
					text-decoration: none;
				}
			}
		}
		.card {
			@include media-breakpoint-up(md) {
				flex-direction: row;
				.card-img-top {
					width: 300px;
				}
			}
			.card-img-top {
				border-radius: 0!important;
			}
			&.article-details-card {
				flex-direction: column;
				.articles-details-banner {
					width: 100%!important;
				}
			}
		}
	}
	.sub-cat-section {
		background: rgba(68, 63, 65, 0.48);
		font-size: 10px;
		letter-spacing: 1px;
	}
	.must-read-tag-section {
		color: #2b2850;
		font-size: 10px;
		background: #fdb711;
		padding: 6px 18px;
	}
	.time-section {
		font-size: 0.7rem;
		color: #8996ab;
		letter-spacing: 1px;
	}
	.price-section {
		color: #007ec1;
	}
	.title-section {
		color: #2b2850;
		line-height: 1.5;
	}
	.content-section {
		color: #727272;
		line-height: 1.5;
	}
	.article-content-section {
		color: #4d4d4d;
	}
	.author-details-section {
		line-height: 1.3;
		.author-name-section {
			color: #2b2850;
			font-size: 0.85rem;
		}
		.author-company-section {
			color: #727272;
			font-size: 0.85rem;
		}
	}
	.tag-section {
		display: inline;
		color: #598cfb;
		font-size: 11px;
		background-color: #edf3ff;
		border: solid 1px #598cfb;
		padding: 7px 12px;
		border-radius: 4px;
		line-height: 1.3;
		&.blue-tag {
			color: #598cfb;
			background-color: #edf3ff;
			border: solid 1px #598cfb;
		}
		&.pink-tag {
			color: #e60079;
			background-color: #ffedf7;
			border: solid 1px #e60079;
		}
		&.green-tag {
			color: #3eb049;
			background-color: rgba(62, 176, 73, 0.12);
			border: solid 1px #3eb049;
		}
	}
	.read-more-section {
		color: #e60079;
		&:hover {
			text-decoration: none;
			cursor: pointer;
		}
	}
	#articles-listing-slider {
		
		.card-group-item {
			.card {
				flex-direction: column;
				.card-img-top {
					width: 100%;
				}
				.title-section {
					@include media-breakpoint-up(md) {
						min-height: 70px;
						max-height: 70px;
						overflow: hidden;
					}
				}
				a {
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		.slick-list {
			padding: 0 0 20px;
		}
		button {
			&.slick-arrow {
				background: transparent;
				border: 0;
				position: absolute;
				top: 50%;
				>i {
					font-size: 3rem;
					color: #2b2850;
				}
			}
			&.slick-prev {
				left: -30px;
			}
			&.slick-next {
				right: -30px;
			}
			@include media-breakpoint-down(xs) {
				&.slick-arrow {
					>i {
						font-size: 2rem;
					}
				}
				&.slick-prev {
					left: -20px;
				}
				&.slick-next {
					right: -20px;
				}
			}
		}
	}
}


/********* eBook Listing Css *********/

.ebook-cover-gradient {
	background-image: linear-gradient(to bottom, #ffffff, #e4e7f4);
	transform: rotate(-180deg);
	height:100px;
	top:75%;
	@include media-breakpoint-down(xs) {
		top: 80%!important;
	}
}

.ebook-listing-section {
	.card-group-item {
		a {
			&.link-section {
				&:hover {
					text-decoration: none;
				}
			}
		}
		.card {
			@include media-breakpoint-up(sm) {
				flex-direction: row;
			}
			.card-img-top {
				width: 126px;
				&.ebook-details-banner {
					width: 160px!important;
				}
			}
		}
	}
	.sub-cat-section {
		background: rgba(68, 63, 65, 0.48);
		font-size: 10px;
		letter-spacing: 1px;
	}
	.time-section {
		font-size: 0.7rem;
		color: #8996ab;
		letter-spacing: 1px;
	}
	.price-section {
		color: #007ec1;
	}
	.price-was-section {
		border-left: 2px solid #2b2850;
	}
	.title-section {
		color: #2b2850;
		line-height: 1.5;
	}
	.content-section {
		color: #727272;
		line-height: 1.5;
	}
	.author-details-section {
		line-height: 1.3;
		.author-name-section {
			color: #2b2850;
			font-size: 0.85rem;
		}
		.author-company-section {
			color: #727272;
			font-size: 0.85rem;
		}
	}
	.tag-section {
		display: inline;
		color: #598cfb;
		font-size: 11px;
		background-color: #edf3ff;
		border: solid 1px #598cfb;
		padding: 7px 12px;
		border-radius: 4px;
		line-height: 1.3;
		&.blue-tag {
			color: #598cfb;
			background-color: #edf3ff;
			border: solid 1px #598cfb;
		}
		&.pink-tag {
			color: #e60079;
			background-color: #ffedf7;
			border: solid 1px #e60079;
		}
		&.green-tag {
			color: #3eb049;
			background-color: rgba(62, 176, 73, 0.12);
			border: solid 1px #3eb049;
		}
	}
	.read-more-section {
		color: #e60079;
		&:hover {
			text-decoration: none;
			cursor: pointer;
		}
	}
}


/********* Comment Box Css *********/

.custom-comment-section {
	.comment-box {
		.author-comment {
			background: #e7edfd;
			border-radius: 0 20px 20px 20px;
			.author-name,.author-time  {
				color: #2b2850;
			}
			.comment-text {
				color: #4d4d4d;
			}
		}
		.user-comment {
			background: #ffffff;
			border-radius: 0 20px 20px 20px;
			.user-name,.user-time  {
				color: #2b2850;
			}
			.comment-text {
				color: #4d4d4d;
			}
		}
		#add-comment {
			border-radius: 0 20px 20px 20px;
			.user-comment-textarea {
				resize: none;
				font-size: 14px;
				color: #4d4d4d;
				border: 1px solid #dedede;
				&:focus {
					border-color: $primary;
				}
			}
		}
	}
}


/********* Newspaper Section Css *********/
.newspaper-section {
	.news-title-section {
		color: #2b2850;
	}
	.newspaper-company {
		color: #2b2850;
	}
	.newspaper-img {
		img {
			@include media-breakpoint-up(md) {
				width: 400px;
			}
		}
	}
	.enlarge-btn {
		color: #4d4d4d;
		font-style:italic;
	}
}


/********* SDGs Section Css *********/

.listing-sdgs-section {
	.sdgs-main-title {
		color: #8996ab;
		font-size: 12px;
	}
	.sdgs-listing {
		flex-wrap: wrap;
		div {
			margin-bottom: 0.75rem;
		}
	}
	.custom-sdgs {
		color: $white;
		font-size: 12px;
		width: 24px;
		height: 24px;
		display: inline-block;
		text-align: center;
		&.one {
			background: #ed122c;
		}
		&.five {
			background: #ef402c;
		}
		&.six {
			background: #02aed9;
		}
		&.seven {
			background: #a78025;
		}
		&.ten {
			background: #e01584;
		}
		&.thirteen {
			background: #48773e;
		}
		&.fourteen {
			background: #037dbc;
		}
	}
	.sdgs-title {
		color: #4d4d4d;
		font-size: 12px;
	}
}


/********* Custom Video Section Css *********/

.custom-video-section {
	@include media-breakpoint-up(md) {
		width: 450px;
	}
}


/********* Custom Image Text Section Css *********/

.custom-image-text-section {
	@include media-breakpoint-down(sm) {
		width: 100%!important;
	}
}


/********* Para Highlight Section Css *********/

.para-highlight {
	background: rgba(0, 126, 193, 0.1);
	border-left: 4px solid #598cfb;
	color: #2c2753;
	line-height: 1.8;
    font-size: 1rem;
    padding: 1rem;
}


/********* Custom Table Highlight Section Css *********/

.custom-table-highlight {
	background: rgba(236, 243, 255, 0.40);
	border: 1.5px solid rgba(91, 149, 255, 0.40);
	font-size: 0.75rem;
	border-radius: 4px;
	padding: 1rem;
	padding-bottom: 0;
	.title-color {
		color: #36255e;
	}
	.content-color {
		color: #388aff;
	}
}


/************ Slick Dots Css *************/

.slick-dots {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    display: block;
    margin-top: 20px;
    text-align: center;
	transition: all 1s;
	li {
		position: relative;
		display: inline-block;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		pointer-events: auto;
		cursor: pointer;
		z-index: 100;
		transition: all 0.3s;
		line-height: 25px;
		button {
			font-size: 0;
			line-height: 0;
			display: block;
			border: 0;
			outline: none;
			margin: 0 auto;
			display: block;
			margin-top: 11px;
			background: transparent;
			&::before {
				content: "";
				display: block;
				width: 12px;
				height: 12px;
				cursor: pointer;
				color: transparent;
				border: 0;
				outline: none;
				background: #d8d8d8;
				border-radius: 100%;
				transition: all 0.3s;
				margin: 0 auto;
				display: block;
			}
		}
		&.slick-active {
			button{
				&::before {
					background-color: #193667;
				}
			}
		}
		&:not(.slick-active) {
			&:hover {
				button {
					&::before {
						background-color: #193667;
					}
				}
			}
		}
	}
}


/**************** Tabs Section Css ****************/

.custom-nav-tabs-section {
	position: absolute;
	top: -30px;
	.custom-nav-tabs {
		.nav-item {
			border-right: 1px solid #DFDFEC;
			&:last-child {
				border-right: 0;
			}
			a {
				font-size: 16px;
				&.nav-link {
					color: $secondary;
				}
				&.nav-link {
					&.active {
						color: $white;
					}
				}
			}
		}
	}
}


/**************** Custom Tooltip Css ****************/

.custom-tooltip {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
	&:hover {
		.custom-tooltipText{
			opacity: 1;
			transform: translateY(-10px);
		}
	}
	.custom-tooltipText {
		background-color: $secondary;
		color: $white;
		position: absolute;
		bottom: 130%;
		padding: 10px 15px;
		border-radius: 5px;
		font-size: 14px;
		opacity: 0;
		transition: all .5s;
		&::after {
			content: '';
			border-width: 5px;
			border-style: solid;
			border-color: $secondary transparent transparent transparent;
			position: absolute;
			top: 100%;
			left: 40%;
			margin-left: 5%;
		}
	}
}


/********* Super Investors Css *********/

.super-investors-section {
	#super-investors-slider {
		.slick-list {
			padding: 0 0 20px;
		}
		button {
			&.slick-arrow {
				background: rgba(39, 209, 127, 0.1)!important;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				border: 0;
				position: absolute;
				top: 45%;
				>i {
					font-size: 2.4rem;
					color: #2b2850;
				}
			}
			&.slick-prev {
				left: -40px;
			}
			&.slick-next {
				right: -40px;
			}
			@include media-breakpoint-down(xs) {
				&.slick-arrow {
					>i {
						font-size: 2rem;
					}
				}
				&.slick-prev {
					left: -20px;
				}
				&.slick-next {
					right: -20px;
				}
			}
		}
		.slick-dots {
			bottom: -30px!important;
			z-index: 1;
			padding-left: 0;
			li {
				button {
					&::before {
						background: rgba(39, 209, 127, 0.1);
					}
				}
				&.slick-active {
					button {
						&::before {
							background-color: $primary;
						}
					}
				}
			}
		}
	}
}

/****** a href Hover *****/
.super-investors-section {
	.card-group-item {
		a {
			&:hover{
				color: inherit!important;
				text-decoration: none!important;
			}
		}
	}
}


/********* Related Stocks Table Css *********/
.tbl-related-stocks {
	thead {
		tr {
			th {
				padding-bottom: 25px;
			}
		}
	}
	tbody {
		tr {
			transition: all .5s;
			&:hover {
				background-color: transparent;
				box-shadow: 0px 1px 20px rgba(1, 33, 58, 0.06);
			}
			&:first-child {
				th,
				td {
					border-top: none;
				}
			}
			th,
			td {
				border-top: 0.5px solid rgba(223, 223, 236, 0.7);
				vertical-align: middle;
				&:last-child {
					text-align: center;
				}
			}
		}
	}

}
