/*****Fixed Header When Scroll****/
.fixed-header {
	position: fixed;
	width: 100%;
	float: left;
	z-index: 10;
	// background: $white;
	background: $primary;
	box-shadow: 0 10px 20px rgba(71,80,89,.15);
	top: 0;
}

/*****Navbar Css****/
header {
	width: 100%;
	float: left;
	padding: 0;
	position: absolute;
	z-index: 2;
	background: $primary;
	ul{
		&.navbar-nav {
			li {
				font-size: 0.80rem;
				@include media-breakpoint-only(md) {
					font-size: 0.7rem!important;
				}
				&.home {
					a {
						&.nav-link {
							&:hover {
								background: #9ad0eb;
								color: #193667;
							}
						}
					}
				}
				&.blog {
					a {
						&.nav-link {
							&:hover {
								background: #e60079;
							}
						}
					}
				}
				&.articles {
					a {
						&.nav-link {
							&:hover {
								background: #fdb711;
								color: #193667;
							}
						}
					}
				}
				&.news {
					a {
						&.nav-link {
							&:hover {
								background: #007ec1;
							}
						}
					}
				}
				&.case-studies {
					a {
						&.nav-link {
							&:hover {
								background: #3eb049;
							}
						}
					}
				}
				&.research-papers {
					a {
						&.nav-link {
							&:hover {
								background: #ff7ecb;
								color: #193667;
							}
							
						}
					}
				}
				&.ebooks {
					a {
						&.nav-link {
							&:hover {
								background: #7f4cdf;
							}
						}
					}
				}
			
				a {
					&.nav-link {
						@include media-breakpoint-up(xl) {
							padding-right: 1rem!important;
							padding-left: 1rem!important;
						}
						@include media-breakpoint-only(lg) {
							padding-right: 0.8rem!important;
							padding-left: 0.8rem!important;
						}
					}
				}
				&.active {
					&.home {
						a {
							&.nav-link {
								background: #9ad0eb;
								color: #193667;
							}
						}
					}
					&.blog {
						a {
							&.nav-link {
								background: #e60079;
							}
						}
					}
					&.articles {
						a {
							&.nav-link {
								background: #fdb711;
								color: #193667;
							}
						}
					}
					&.news {
						a {
							&.nav-link {
								background: #007ec1;
							}
						}
					}
					&.case-studies {
						a {
							&.nav-link {
								background: #3eb049;
							}
						}
					}
					&.research-papers {
						a {
							&.nav-link {
								background: #ff7ecb;
								color: #193667;
							}
						}
					}
					&.ebooks {
						a {
							&.nav-link {
								background: #7f4cdf;
							}
						}
					}
				}
				@include media-breakpoint-up(md) {
					&.active {
						a {
							&.nav-link {
								transition: all .5s ease 0s;
								// color: $tertiary;
								color: $white;
								background: #3eb049;
								&::after {
									content: '';
									display: block;
									// width: 2rem;
									// border-bottom: 1px solid $tertiary;
								}
							}
							&.dropdown-toggle {
								&::after {
									border-top: none;
									border-left: none;
									border-right: none;
								}
							}
						}
					}
				}
				a {
					&.nav-link {
						display: flex;
						transition: all .5s ease 0s;
						color: $white;
						height: 100%;
						&:hover {
							@include media-breakpoint-up(md){
								// color: $tertiary;
								color: $white;
								background: #3eb049;
							}
							// text-decoration: underline;
							&::after {
								content: '';
								display: block;
								// width: 2rem;
								// margin: 0 auto;
								// border-bottom: 1px solid $tertiary;
								border-top: none;
								border-left: none;
								border-right: none;
							}
						}
						>span {
							align-self: center;
						}
					}
					&.dropdown-toggle {
						&::after {
							display: none;
						}
					}
				}
			}
		}
	}
}


@include media-breakpoint-only(sm) {
	.sustaineverse-navbar {
		.navbar-nav {
			li {
				a {
					margin: 0 45px 8px 45px!important;
				}
			} 
		} 
	} 
}

@include media-breakpoint-down(sm) {
	#navbarResponsive {
		position: absolute;
		background: $white;
		width: 100%;
		top: 85px;
		z-index: 9;
		left: 0;
		padding: 15px;
	}
	.sustaineverse-navbar {
		.navbar-toggler {
			.fas {
				color: $white;
			}
		}
		.navbar-nav {
			li {
				a {
					margin: 0 0 8px 0;
					color: $white;
					padding: 10px!important;
					border-radius: 4px;
					font-weight: 600;
					// font-family: fira sans,sans-serif;
					background: $primary;
				}
				&.active {
					a {
						background: $tertiary;
					}
				}
			}
			.dropdown-menu {
				padding: .5rem 1rem .1rem 1rem;
				font-size: 0.875rem;
				margin-bottom: 0.5rem;
				border: 0;
				background-color: #e6e6e6;
			} 
		} 
	} 
}